:root {
    /* base */
    --color-actionable-bg: white;
    --color-bg: #dbd6d0;
    --color-bg-highlight: #cdc8c0;
    --color-bg-shade: rgba(0, 0, 0, 0.1);
    --color-button-fg: var(--color-bg);
    --color-button-bg: #38688f; /*#9f3eb1; /*#295280;*/
    --color-button-do-bg: #497e40;
    --color-button-serious: #be3b3b;
    --color-button-serious-hover: #a90000;
    --color-button-do-hover-bg: #274322;
    --color-button-hover-fg: white;
    --color-button-hover-bg: #0f2940; /*#672980; /*#22456b;*/
    --color-button-small: #796c63; /*#ffc458;*/
    --color-button-small-hover: #54463e;
    --color-child-even: #e6f0f0;
    --color-child-odd: white;
    --color-child-hilight-ring: #afc6ce;
    --color-frame: #f4f4f4;
    --color-fresh: #274322;
    --color-hilight-green: #b7dc86;
    --color-hilight-orange: #fccf7b;
    --color-hilight-purple: #d6c3d5;
    --color-hilight-red: #ffc2c2;
    --color-info: #fff0f0;
    --color-info-border: grey;
    --color-parent: #cce3ed;
    --color-parent-border: #93a3a8;
    --color-saved: #4b7c43;
    --color-saved-bg: #edffd6;
    --color-saved-hover: #274322;
    --color-searchform-bg: #d6c3d5;
    --color-searchform-border: #38688f; /*#ab90aa;*/
    --color-subform-bg: #dbd4e9;
    --color-table-hr: #38688f; /*#9f3eb1; /*#295280;*/
    --color-table-hr-bg: #d5d7d8;
    --color-table-hr-bg-alt: #efebe9;
    --button-height: 50px;
    --button-outline: 2px;
    --button-outgap: 1px;
    --button-padding: 20px;
    --widget-height: 40px;
    --margins: 20px;

    /* sidebar */
    --color-sidebar-fg: #dcd9d1;
    --color-sidebar-bg: #2e3436;
    --color-sidebar-bg-hover: #1c2021;
    --color-sidebar-sub-bg: #11223b;
    --color-sidebar-sub-bg-hover: #0c1828;
    --focus-indicator: white;
    --focus-indicator-sub: #4eb3ff;
    
    --sidebar-full-avatar: 100px;
    --sidebar-dock-avatar: 60px;
    --sidebar-item-height: 40px;
    --sidebar-full: 320px;
    --sidebar-dock: 100px;

    /* header */
    --color-header-bg: #8b8882;
    --height-header: 100px;

    /* footer */
    --color-footer-bg: #11223b;
    --height-footer-min: 50px;

    /* device */
    --width-device-min: 320px;
    --width-device-margins: calc(var(--width-device-min) - (2 * var(--margins)));
    --width-device-margins-inner: calc(var(--width-device-min) - (4 * var(--margins))); 
    --width-device-margins-innermost: calc(var(--width-device-min) - (6 * var(--margins))); 
}

